PORT=5126
JWT_SECRET=FancyStore_SuperSecret_JWT_Key_2024_!@#$%
JWT_ISSUER=FancyStoreAPI
JWT_AUDIENCE=FancyStoreClient
JWT_EXPIRY_DAYS=7
DATABASE_URL=postgres://postgres:postgres123@localhost:5432/fancy_store_db
NODE_ENV=development
